body {
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: 1.5;
}


.wrapper {
	background: $gradient-supersoft;
	border-radius: 0px 0px 12px 12px;
	position: relative;
}

.background_first {
	position: absolute;
	z-index: -10;
	width: 98%;
	height: 20px;
	right: 1%;
	bottom: -10px;
	background: #CACADB;
	border-radius: 0 0 12px 12px;
}

.background_second {
	position: absolute;
	z-index: -20;
	width: 96%;
	height: 20px;
	left: 2%;
	bottom: -20px;
	background: #E7E7F2;
	border-radius: 0 0 12px 12px;
}

.list__custom {
  li {
    position: relative;
    padding-left: 12px;
  }
  li:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $accent-color;
  }
}

.container {
	padding: 0 30px;

	@include vieport-md {
		max-width: 708px;
		margin: 0 auto;
	}

	@include vieport-lg {
		max-width: 964px;
	}

	@include vieport-xl {
		max-width: 1380px;
	}

	@include vieport-xxl {
		max-width: 1660px;
	}
}

.dotted {
	display: none;

	@include vieport-md {
		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: $radius-rounded;
		background: $separator-color;

		&--gray {
			background: $text-color;
		}
	}
}

.hiden {
  position: absolute;
	z-index: -100;
	opacity: 0;
	width: 0;
	height: 0;
}