.publications {
  padding-top: 30px;
  background: $bg-color;
  
  &-link {
    position: relative;
    @include caps;
    padding-bottom: 10px;
    text-decoration: none;
    
    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 100%;
      width: 9px;
      height: 9px;
      border-right: 2.5px solid;
      border-bottom: 2.5px solid;
      transform: rotate(-45deg);
    }

    &:hover {
      color: $accent-color;
    }
  }

  &-title {
    @include subtitle-red;
    margin-bottom: 30px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include vieport-md {
      flex-flow: row wrap;
    }

    &__card{
      background: $basic-white;
      border-radius: $radius-sm;
      overflow: hidden;
      flex: 1 1 45%;

      @include vieport-lg {
        flex-basis: 30%;
      }

      &__box {
        padding: 30px;
      }

      &__title {
        &>a {
          @include link;
          color: $active-regular-color;
        }
      }

      &__subtitle {
        @include caps ($text-color, 12px);
        padding: 15px 0;
      }

      &__text {
        font-size: 14px;
        font-weight: 400;
        padding-top: 15px;
        border-top: 4px solid $separator-color;
      }

      &-img {
        display: block;
        height: 200px;

        &>img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}