.tabs {
	padding: 30px 0;
  @include vieport-md {
    padding: 60px 0;
  }
	&__container {

		@include vieport-lg {
			display: flex;
			align-items: center;
		}
	}

	&__links {
		padding: 0 0 30px;
    line-height: 1.2;
		display: flex;
		white-space: nowrap;
		gap: 30px;
		overflow: auto;
		margin-right: -30px;
		padding-right: 30px;

		&::-webkit-scrollbar {
			width: 0;
		}

		@include vieport-md {
			margin-right: calc(-50vw + 324px);
		}

		@include vieport-lg {
			margin-right: 0;
			padding: 0;
			padding-right: 60px;
			flex-direction: column;
			flex: 1 1 45%;
			border-right: 4px solid rgba(255, 255, 255, 0.30);
			text-align: right;
		}

		@include vieport-xl {
			flex: 1 1 35%;
		}
	}

	&__links-item {
		@include subtitle(30px, $text-color);
		cursor: pointer;
    @include vieport-md {
      font-size: 38px;
    }

		&.active {
			@include subtitle-red;
		}

		&:hover {
			color: $accent-color;
		}
	}

	&__content {
		padding: 30px 0 0;
		border-top: 4px solid rgba(255, 255, 255, 0.30);

		@include vieport-lg {
			flex: 1 1 50%;
			padding: 0;
			padding-left: 60px;
			border-top: none;
		}

		@include vieport-xl {
			flex: 1 1 60%;
		}

    &-title {
      margin-bottom: 30px;
      @include subtitle (20px, $basic-white);
      @include vieport-md {
        font-size: 30px;
      }
    }

    &-text {
      font-size: 19px;
      font-weight: 400;
      color: $basic-white;
    }
	}

	&__content-item {
		display: none;
		&.active {
			display: block;
		}
	}
}
