.team {
	padding-top: 50px;
	line-height: 1.2;
	&__swiper {
		margin-bottom: 30px;
	}

	&__wrapper {
		align-items: center;
	}

	&__slide {
		border-radius: $radius-md;
		overflow: hidden;
		@include vieport-lg {
			display: flex;
		}
	}

	&__image {
		height: 500px;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
		@include vieport-lg {
			flex: 0 0 400px;
			height: auto;
		}
	}

	&__inner {
		padding: 30px;
		width: 100%;
		background: rgba($text-color, .2);
	}

	&__inner-link {
		text-decoration: none;
		@include caps;
		transition: .2s;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: 4px;
			left: 100%;
			width: 9px;
			height: 9px;
			border-right: 2.5px solid;
			border-bottom: 2.5px solid;
			transform: rotate(-45deg);
		}
		&:hover {
			color: $accent-color;
		}
	}

	&__inner-title {
		@include subtitle-red;
		margin-bottom: 30px;
	}

	&__inner__name {
		color: $text-color;
		&-name {
			font-weight: 700;
		}
		&-position {
			font-size: 14px;
			margin-top: 6px;
			font-weight: 400;
		}
	}

	&__swiper-pagination {
		position: static;

		.swiper-pagination-bullet {
			width: 16px;
			height: 16px;
			background: $active-regular-color;
		}
	}
}

